@media only screen and (orientation: landscape) {
	#deckBar {
		width: 275px;
		max-width: 32%;
		left: 0;
		background-color: #282828;
		height: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		z-index: 1;
		overflow: hidden
	}
	.deckBar-absolute {
		position: absolute;
		margin-top: -20px
	}
	.deckBar-fixed {
		position: fixed;
		top: 0
	}
	.btn-outline-success-bar {
		width: 220px;
		max-width: 90%
	}
	.btn-sm-new {
		display: none;
	}
	.decks-buttons {
		margin: 0 auto;
		bottom: 0;
		overflow-y: scroll;
		position: relative;
		max-width: 90%
	}
	.deck-buttons {
		width: 220px;
		max-width: 100%;
		word-wrap: break-word;
		line-width: 200px
	}
	.welcomeBody {
		margin-left: 270px;
	}
	
	.card-view {
		height: 300px;
	}
}

@media only screen and (orientation: portrait) {
	#deckBar {
		width: 100%;
		overflow-x: scroll;
		left: 0;
		background-color: #282828;
		height: 125px;
		white-space: nowrap;
		overflow: auto;
		z-index: 1;
	}
	.deckBar-absolute {
		position: absolute;
	}
	.deckBar-fixed {
		position: fixed;
		top: 0
	}
	.landscape-hr {
		visibility: hidden;
		margin: 0px
	}
	
	.btn-sm-new {
		width: 100px
	}
	
	.btn-outline-success-bar {
		margin: -5px
	}
	.decks-title {
		margin-top: 5px;
		margin-left: 10px
	}
	.decks-bar {
		float: left;
		margin-left: 18px;
		margin-right: 18px
	}
	.landscape-btn {
		display: none
	}
	.btn-light {
		margin-top: 10px;
		margin-right: 10px
	}
	.decks-buttons {
		overflow-y: scroll;
	}
	.welcomeBody {
		padding-top: 125px;
	}
	
	.card-view {
		min-height: 200px;
	}
}

.session-button-cont {
	text-align: center;
}

.session-button {
	box-shadow: 4px 4px 4px grey;
	max-width: 100%;
	width: 330px
}

.session-btn-text {
	max-width: 100%
}

.btn-light-card {
	margin-bottom: 10px;
	width: 220px;
	height: 100px;
	border: 1px solid black;
	box-shadow: 4px 4px 4px grey;
}

.card-button {
	display: inline-block;
	margin-bottom: 10px;
	width: 220px;
	height: 120px;
	border: 1px solid black;
}

.card-button:hover {
	background-color: #e1e6eb
}

.hideSide {
	display: none
}

.card {
	box-shadow: 4px 4px 4px grey;
}

.card-view {
	border: 1px solid black;
	width: 500px;
	max-width: 95%;
	position: relative;
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
}

.card-view-text {
	position: absolute;
	margin: 0;
	width: 400px; 
	max-width: 95%;
	top : 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	top: 45%;
}

.card-preview {
	position: absolute;
	margin: 0;
	width: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.deckMenuButton {
	width: 300px;
	box-shadow: 4px 4px 4px grey;
}

.nav-bg {
	padding-top: 0px;
	padding-bottom: 0px;
	background: #f2f2f2
}

.flashLogo {
	color: #00af3b;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.decks-title {
	color: white;
}

.body-card {
	margin-top: 20px;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 35px;
	margin-bottom: 20px;
	border-color: black;
	background: rgba(255, 255, 255, .6)
}

.hr {
	border-color: black
}

.header-line {
	background-color: black;
	height: 5px;
	margin-bottom: 0px
}

.prev-next-btns {
	border-color: #00af3b;
	width: 75px;
	margin-left: 5px
}

a:visited {
	color: #000;
}

a:hover {
	color: #000;
	text-decoration: none;
}

.session-btn {
	width: 200px
}

a:active {
	color: #000;
}

.siteBackground {
	background-size: cover;
	background-position: center;
	overflow: hidden;
	background-attachment: fixed;
}